@use '../../../../assets/styles/variables' as vars;

.header {
  background-color: vars.$color-purple-600;
  text-align: center;
  color: vars.$color-white;
  font-family: vars.$font-family;
  font-size: vars.$font-size-body;
  font-weight: vars.$font-weight-regular;
  margin: 0;

  .header-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-content_label {
      text-align: center;
    }

    .header-content_buttons {
      display: flex;
      gap: 12px;

      button {
        color: vars.$color-white;
        border-color: vars.$color-white;
      }
    }
  }
}
