<div class="login-container">
  <form class="login-content" [formRoot]="loginForm">
    <h1 class="form-title">Sign In</h1>

    <mat-form-field class="example-full-width">
      <mat-label>Login</mat-label>
      <input matInput [formField]="loginForm.username">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput [formField]="loginForm.password">
    </mat-form-field>

    <button matButton="filled" type="submit">Login</button>
  </form>
</div>
